.root {
    -fx-font-family: Rockwell;
    -fx-background-image: url("images/Background.png");
    -fx-background-size: cover;
    -fx-font-size: 1.4em;

}

.bar-chart .chart-title {
    -fx-font-size: 2em;
    -fx-text-fill: white;
}

.bar-chart .axis-label {
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
}

.chart-plot-background {
    -fx-background-color: gray;
}

