.root {
    -fx-font-family: Rockwell;
    -fx-background-image: url("images/Background.png");
    -fx-background-size: cover;
    -fx-font-size: 1.4em;
}

.bar-chart .chart-title {
    -fx-font-size: 2em;
    -fx-text-fill: white;
}

.bar-chart .axis-label {
    -fx-font-size: 1.4em;
}

.chart-plot-background {
    -fx-background-color: gray;
}

#tableLabel {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 1.6em;
}

#viewTableButton {
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: black;
    -fx-border-color: white;
}

#viewGraphButton {
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: black;
    -fx-border-color: white;
}